@font-face {
  font-family: "comic";
  font-display: swap;
  src: url("../fonts/comic.woff") format("woff"), url("../fonts/comic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "comic bold";
  font-display: swap;
  src: url("../fonts/comicbd.woff") format("woff"), url("../fonts/comicbd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  font-family: 'Comic Neue', cursive;
  color: #fff;
}

body {
  background: url(../img/bg.png) no-repeat center top/cover;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: auto;
}

.overflow_body {
  overflow: hidden;
}

header {
  background: url(../img/header-bg.png) no-repeat center bottom/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
  text-align: center;
}

/* MAIN SECTION CUSTOMIZATION */

.main_wrapper {
  max-width: 1500px;
  margin: 2% auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_wrapper .macbook {
  width: 40%;
  margin-top: 50px;
}

.slider_wrapper {
  margin-right: 100px;
}

.slider_wrapper h2 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.slider_wrapper .owl-carousel_first {
  max-width: 590px;
}

.slider_wrapper .owl-carousel_first .item {
  border: 7px solid #fff;
  width: 590px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider_wrapper .owl-carousel_first .item img {
  height: 100%;
  width: 100%;
}

/* FOOTER CUSTOMIZATION */

.footer {
  max-width: 380px;
  margin: 80px auto 0;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer a {
  display: block;
}

.footer a img {
  margin-bottom: 10px;
  display: inline-block;
}

.footer p {
  font-size: 25px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer p img {
  margin-left: 20px;
}

.footer_vid {
  margin-top: 30px;
}

/* MENU CUSTOMIZATION */

.menu_toggle-wrap .menu_toggle {
  color: rgba(0, 0, 0, 0.8);
  font-size: 100px;
  font-weight: bold;
  line-height: 60px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu_toggle-wrap .menu_toggle:hover {
  padding-top: 20px;
  cursor: pointer;
}

.menu_wrap {
  position: fixed;
  top: 0;
  right: 30px;
  z-index: -10;
}

.menu {
  position: relative;
  opacity: 0;
  margin-top: -70px;
  z-index: -10;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.menu .phone {
  position: absolute;
  top: 50%;
  right: 0;
}

.menu .close {
  position: absolute;
  top: 150px;
  right: 35px;
  z-index: 100;
}

.menu .close .visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.menu .close .hamburger {
  margin: 0 auto;
  margin-top: 30px;
  width: 35px;
  height: 30px;
  position: relative;
}

.menu .close .hamburger:hover {
  cursor: pointer;
}

.menu .close .hamburger .bar {
  padding: 0;
  width: 35px;
  height: 4px;
  background-color: maroon;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.menu .close .bar1 {
  top: 0;
}

.menu .close .bar2,
.menu .close .bar3 {
  top: 13.5px;
}

.menu .close .bar3 {
  right: 0;
}

.menu .close .bar4 {
  bottom: 0;
}

.menu .close .hamburger3 .bar1 {
  -webkit-transform-origin: 5%;
  -ms-transform-origin: 5%;
  transform-origin: 5%;
}

.menu .close .hamburger3 .bar4 {
  -webkit-transform-origin: 5%;
  -ms-transform-origin: 5%;
  transform-origin: 5%;
}

.menu .close .checkbox3 + label > .hamburger3 > .bar1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 3px;
  width: 42px;
}

.menu .close .checkbox3 + label > .hamburger3 > .bar3 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 3px;
  background-color: transparent;
}

.menu .close .checkbox3 + label > .hamburger3 > .bar2 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 3px;
  background-color: transparent;
}

.menu .close .checkbox3 + label > .hamburger3 > .bar4 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 3px;
  width: 42px;
}

.menu .menu_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 350px;
  left: -30px;
  z-index: 10;
}

.menu .menu_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
}

.menu .menu_links a img {
  display: inline-block;
  margin-right: 20px;
}

.menu .menu_links a + a {
  margin-top: 20px;
}

.grey-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.translate {
  -webkit-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  transform: translate(0, 50px);
}

/* VIDEO PAGE CUSTOMIZATION */

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin: 20px 0 0;
}

.videos_wrapper {
  max-width: 1500px;
  margin: 10px auto;
  z-index: 100;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.row > img {
  max-width: 25%;
}

.row .arduino,
.row .kompas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 10;
  margin: 20px 0;
}

.row .arduino:hover,
.row .kompas:hover {
  cursor: pointer;
}

.row .arduino h4,
.row .kompas h4 {
  max-width: 350px;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.row .arduino h4:hover,
.row .kompas h4:hover {
  cursor: pointer;
}

.row .arduino img:hover,
.row .kompas img:hover {
  cursor: pointer;
}

.owl-carousel_arduino,
.owl-carousel_kompas {
  margin: 20px 0;
  position: relative;
  z-index: 100;
}

.owl-carousel_arduino .item,
.owl-carousel_kompas .item {
  height: 250px;
  border: 7px solid #fff;
}

.owl-carousel_arduino .owl-prev,
.owl-carousel_kompas .owl-prev {
  position: absolute;
  top: 50%;
  left: -70px;
}

.owl-carousel_arduino .owl-prev .fa-angle-left,
.owl-carousel_kompas .owl-prev .fa-angle-left {
  font-size: 100px;
  margin-top: -50px;
  font-weight: bold;
}

.owl-carousel_arduino .owl-next,
.owl-carousel_kompas .owl-next {
  position: absolute;
  top: 50%;
  right: -70px;
}

.owl-carousel_arduino .owl-next .fa-angle-right,
.owl-carousel_kompas .owl-next .fa-angle-right {
  font-size: 100px;
  margin-top: -50px;
  font-weight: bold;
}

.owl-carousel_kompas {
  display: none;
}

.arduino img,
.kompas img {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.arduino img:hover,
.kompas img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.video {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.video:hover {
  cursor: pointer;
}

.video:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.video iframe,
.video img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border: none;
}

.video img {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-play-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video-play-icon {
  fill: #ffffff;
}

.video-play:focus {
  outline: none;
}

.video:hover .video-play-shape,
.video:focus .video-play-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

/* LITERATURE PAGE CUSTOMIZATION */

.literature_wrapper {
  max-width: 1500px;
  margin: 30px auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.folders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 150px;
  margin: 30px;
  z-index: 10;
}

.folders .folder {
  max-width: 200px;
}

.folders .folder h4 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* TABLE PAGE CUSTOMIZATION */

.table_wrapper {
  width: 1300px;
  height: 550px;
  margin: 20px auto 80px;
  background: #324a58;
  position: relative;
  border-bottom: 30px solid #2568ef;
  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
}

.table_wrapper h1 {
  text-transform: uppercase;
  padding-top: 20px;
}

.table_wrapper .person_img {
  position: fixed;
  display: inline-block;
  left: 150px;
  bottom: 0;
}

/* Select */

.choose {
  max-width: 950px;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.select {
  position: relative;
  margin-bottom: 1rem;
  display: inline-block;
}

.select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 12px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 40px;
  z-index: 1;
  margin-top: -3px;
}

.select select {
  width: 380px;
  height: 80px;
  padding: 0 40px;
  background: none;
  border: 5px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 36px;
  font-weight: bold;
}

.select select option {
  color: #000;
  background: transparent;
}

.select select:focus {
  outline: 0;
  border-color: #fff;
}

@media screen and (max-width: 1880px) {
  body {
    background-size: 180%;
  }
}

@media screen and (max-width: 1800px) {
  .owl-carousel_arduino .owl-prev,
  .owl-carousel_kompas .owl-prev {
    bottom: 0;
    left: 350px;
  }

  .owl-carousel_arduino .owl-prev .fa-angle-left,
  .owl-carousel_kompas .owl-prev .fa-angle-left {
    margin-top: 150px;
  }

  .owl-carousel_arduino .owl-next,
  .owl-carousel_kompas .owl-next {
    bottom: 0;
    right: 350px;
  }

  .owl-carousel_arduino .owl-next .fa-angle-right,
  .owl-carousel_kompas .owl-next .fa-angle-right {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1740px) {
  .table_wrapper {
    width: 75%;
    height: 400px;
  }

  .table_wrapper .person_img {
    left: 50px;
    width: 13%;
  }
}

@media screen and (max-width: 1550px) {
  .main_wrapper {
    max-width: 1200px;
  }

  .slider_wrapper .owl-carousel_first {
    max-width: 500px;
  }

  .slider_wrapper .owl-carousel_first .item {
    width: 500px;
  }
}

@media screen and (max-width: 1350px) {
  .table_wrapper {
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .table_wrapper h1 {
    padding-top: 0;
  }

  .table_wrapper .person_img {
    display: none;
  }

  .choose {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .select {
    margin: 20px 0;
  }
}

@media screen and (max-width: 1290px) {
  .main_wrapper {
    max-width: 1000px;
    margin-bottom: 70px;
  }

  .slider_wrapper .owl-carousel_first {
    max-width: 400px;
  }

  .slider_wrapper .owl-carousel_first .item {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 1240px) {
  body {
    background-size: 200%;
  }
}

@media screen and (max-width: 1200px) {
  .footer_vid {
    margin-top: 110px;
    padding-bottom: 10px;
  }

  .middle_photo {
    display: none;
  }
}

@media screen and (max-width: 1130px) {
  .literature_wrapper > img {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  body {
    background-size: 250%;
  }

  .main_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .main_wrapper .macbook {
    display: none;
  }

  .slider_wrapper {
    margin-right: 0;
  }

  .slider_wrapper .owl-carousel_first {
    max-width: 450px;
  }

  .slider_wrapper .owl-carousel_first .item {
    width: 450px;
    height: 300px;
  }
}

@media screen and (max-width: 950px) {
  .footer_vid {
    margin-top: 0;
  }

  .owl-carousel_arduino .owl-prev,
  .owl-carousel_kompas .owl-prev {
    display: none;
  }

  .owl-carousel_arduino .owl-next,
  .owl-carousel_kompas .owl-next {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  body {
    background-size: 380%;
  }

  .menu_toggle-wrap .menu_toggle:hover {
    padding-top: 0;
  }

  .table_wrapper h1 {
    text-transform: unset;
    font-size: 60px;
  }
}

@media screen and (max-width: 870px) {
  .categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 730px) {
  .folders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  .overflow_body {
    overflow: scroll;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-size: 550%;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  header img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 690px) {
  .menu_wrapper-table {
    right: 20px;
  }
}

@media screen and (max-width: 550px) {
  .menu_toggle-wrap .menu_toggle-vid {
    margin-top: -80px !important;
  }
}

@media screen and (max-width: 540px) {
  body {
    background-size: 700%;
  }
}

@media screen and (max-width: 520px) {
  .table_wrapper {
    width: 100%;
    margin: 40px 0;
    border-radius: unset;
  }

  .menu_wrapper-table .fa-angle_table {
    margin-top: 200px;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    right: -50%;
    margin-left: -300px;
  }
}

@media screen and (max-width: 470px) {
  .slider_wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 50px;
    margin: 30px 0;
  }
}

@media screen and (max-width: 450px) {
  .slider_wrapper .owl-carousel_first {
    width: 100%;
  }

  .slider_wrapper .owl-carousel_first .item {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .menu {
    right: -75%;
    max-width: 100vw;
  }
}

@media screen and (max-width: 420px) {
  .row .arduino h4,
  .row .kompas h4 {
    font-size: 35px;
  }

  .row .arduino img,
  .row .kompas img {
    max-width: 70%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 400px) {
  .choose {
    width: 100%;
    margin-top: 0;
  }

  .select {
    width: 100%;
  }

  .select select {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  header img {
    max-width: 100%;
    margin-bottom: 0;
    text-align: center;
  }

  .slider_wrapper h2 {
    margin: 30px 0;
  }

  .slider_wrapper .owl-carousel_first .item {
    height: 250px;
  }

  .menu_toggle-wrap .menu_toggle {
    font-size: 80px;
  }
}

@media screen and (max-width: 380px) {
  body {
    background-size: 900%;
  }

  .footer p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer p img {
    margin-left: 0;
    margin-top: 20px;
  }

  .menu .phone {
    max-width: 100vw;
    right: -15%;
  }

  .menu .close {
    top: 170px;
    right: -10px;
  }

  .menu .menu_links {
    top: 280px;
    left: 10px;
  }

  .menu .menu_links a {
    font-size: 30px;
  }
}

@media screen and (max-width: 360px) {
  .menu .phone {
    max-width: 110vw;
    top: 40%;
  }

  .menu .close {
    top: 110px;
  }

  .menu .menu_links {
    left: 0px;
    top: 220px;
  }
}

@media screen and (max-width: 350px) {
  .slider_wrapper h2 {
    font-size: 40px;
  }

  .menu_toggle-wrap .menu_toggle {
    font-size: 60px;
  }

  .table_wrapper h1 {
    font-size: 45px;
    margin-top: 0;
  }
}

@media screen and (max-width: 340px) {
  .menu .close {
    top: 80px;
  }

  .menu .menu_links {
    top: 190px;
  }

  .menu .menu_links a img {
    margin-left: 10px;
    width: 10%;
  }
}

@media screen and (max-width: 320px) {
  .menu .menu_links {
    left: 10px;
  }
}